<!--==========================
    Header
  ============================-->
  <header id="header" style="background-image: url(../assets/img/new/topHeader.png);" >
    <div class="container-fluid">

      <div id="logo" class="pull-left">
         <h1 style="color: white;">MINE ITEMS</h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

     <nav id="nav-menu-container" style="    padding-top: 5px;">
        <ul class="nav-menu">
          <li class=""><a href="#services">Download</a></li>
          <li><a href="#team">About</a></li>
          <li><a href="#clients">FAQ</a></li>
          <li ><a href="#skills">Contact</a></li>
          <li style="margin-left: 15em;"><a href="#">Login / Register</a></li>
         
          
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->

    <section id="about1" >
      <div class="container">


        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <ul  class="nav-menu">
                <li>
                  <a href="#services">
                    <img src="../assets/img/new/computer1.png" alt="" style="width:100%; opacity:1;" >
                  </a></li>
                  
                </ul>
                
                <!-- <div class="icon"><i class="ion-ios-speedometer-outline"></i></div> -->
              </div>
              
            </div>
          </div>

          <div class=" col-md-2  " ></div>
          <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col" style="text-align: center;">

              <h1 class="title" ><a href="#" style="font-size: 2em;    letter-spacing: 3px;">GET ITEMS</a></h1>
              <h2 class="title"><a href="#">FOR YOUR PC POWER</a></h2>

              <hr>
              <h3>Use your GPU/CPU power to mine items while you are at work or school</h3>
              <p>
               (We offer PayPal,Amazon,Crypto currency,In-Game item and countless other cashout methods)
              </p>
            </div>
          </div>

         

        </div>

      </div>
    </section><!-- #about -->

        <!--==========================
      Services Section
    ============================-->
    <section id="team">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h2 class="power1">Use your PC power</h2>
          <div class="col-md-8" style="margin: 0 auto;">
          <h2 class="power2">Most Gamers have strong computers. Why not use them to mine digital currencys and redeem for Digital/Real life purchases</h2>
          </div>

        </header>


        <div class="margin0center">
          <img src="../assets/img/new/powerall.png" style="    width: 56%;margin: 2.5em auto 2em;">
        </div>


       
        
        </div>
    </section><!-- #services -->

    <section id="services">

      <div class="container">
        <div class="row col-md-10" style=" margin: 0 auto; text-align: center;">

            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
             
              <h4 class="title">Easy to use</h4>
              <p class="description">Just turn On / Off Rest will be done automaticly</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
           
              <h4 class="title">Diverse Shop</h4>
              <p class="description">Cashout profits in countless Ways</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
              
              <h4 class="title">100% Control</h4>
              <p class="description">Start/Stop or Remove at any moment</p>
            </div>
          </div>
        </div>
    </section>


    <section id="services1">
      <div class="container">
        <div class="col-md-12 margin5center">
         <a href="https://google.com"><button  type="button" class="btn mybtn"  ><span class="setupVersion">Setup version (2.5MB)</span></button></a>
             <div class="col-md-6 margin2auto">
                <h4 class="description italich4">Minimum system requirements:</h4>
                <h4  class="description italich4">OS: Windows 7 </h4>
                <h4  class="description italich4"> CPU: Intel i3 </h4>
                <h4  class="description italich4"> GPU: 2GB memory</h4>
            </div> 
        </div>
      </div>
      <div class="col-md-8 margin0center">
        <img src="../assets/img/new/instant.png" style="width: 80%; margin-bottom: 2em;">
      </div>
      
      <div class="col-md-12 margin6center">
        <h4  class="description font13">Gamers make on avarage $2 to $5 a day. Thats $60 to 150$ extra a month to use on anything you want. Like new games</h4>
        <h4   class="description colorblue">(About 30% of mined will result in electricity costs if electricity cost is $0.16/kwh, click HERE to caculate your costs)</h4>
      </div>


        <div class="container">
          <div class="row about-cols">

            <div class="col-md-6 fadeInUp">
              <div class="about-col">
                <div class="img">
                  <img src="../assets/img/new/daily.png" alt="" class="img-fluid">
                </div>
              
              </div>
            </div>

            <div class="col-md-6 fadeInUp" data-wow-delay="0.1s">
              <div class="about-col">
                <div class="img">
                  <img src="../assets/img/new/wefind.png"  class="img-fluid paddingtop2">
                </div>
                
              </div>
            </div>
          </div>
        </div>


          <div class="container">
            <div class="col-md-12 margin6enter">
                <h4   class="description italich4">Version 1.01 alpha</h4>

              <button type="button" class="btn padding1"  ><span class="span2">Download (2MB)</span></button>
              <div class="col-md-6 margin0auto" >
                <h4 class="description italich4">*to start mining items now</h4>
              </div> 
            </div>
          </div>
    </section>

    <section id="clients">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h4 class="letterspacing">Common questions (FAQ)</h4>
        </header>


        <div class="row">
            <div class="col-md-6">
              
                    <!-- question1start -->
                      <div class="col-md-1 "  style="float:left;">
                        <img id="left1" (click)="ShowButton(1);" src="../assets/img/new/animation1.png" alt="">
                      </div>
                      <div  class="col-md-10 floatpadding" >
                        <div><p  (click)="ShowButton(1);">AM I GONA BE ABLE TO BUY LAMBO?</p></div>
                      <div [hidden]="!showSelected[1]">
                        <p>
                            Yes. <br>
                            but no. <br>
                            You can make alot of extra cash for your Digital/Real life
                            purchases. Good CPU/GPU will make you more money. <br> <br>

                            Avarage Mineletems user makes 70$ a month and mostly uses the balance
                            for In-Game items and Steam games.
                        </p>
                      </div>

                    </div>
                    <!--end  -->
                    <!-- question2start -->
                    <div class="col-md-1 " style="clear:both;float:left;">
                        <img  id="left2" (click)="ShowButton(2);"  src="../assets/img/new/animation1.png" alt="">
                      </div>
                      <div  class="col-md-10 floatpadding" >
                        <div><p  (click)="ShowButton(2);">Can I play games while it is Mining? (Will my PC be slow ?) </p></div>
                      <div [hidden]="!showSelected[2]">
                        <p>
                            Mining is automatic, as soon as your PC is not in use for 10 min
                            it will automaticly start mining. As soon as you move your mouse
                            or press any button on the keyboard. Mining will stop (Automine can be disabled) <br> <br>
                            You can play your favorite game without problem.<br> <br>
                            If you want to use your Computer while it is Mining, it will alot slower then usual
                            then usual if you dont do anything that is heavy on GPU/CPU (like playing games) <br> <br>
                            Playing Games and Mining at the same time, wont be as effective
                            as the Programm wont be able to use the full Hashpower of your GPU/CPU. <br> <br>

                        </p>
                      </div>

                    </div>
                    <!--end  -->
                    <!-- question3start -->
                    <div class="col-md-1 " style="clear:both;float:left;">
                        <img  id="left3" (click)="ShowButton(3);" src="../assets/img/new/animation1.png" alt="">
                      </div>
                      <div  class="col-md-10 floatpadding" >
                        <div><p (click)="ShowButton(3);">Will by electricity cost go up?</p></div>
                      <div [hidden]="!showSelected[3]">
                        <p>
                            If you mine only when you would normaly use your computer
                            then the electricity costs wont go up.<br><br>
                            But if you leave PC overnight to Mine that will lead to incrised electricity<br>
                            costs.  About 20% of mined will result in electricity costs<br> <br>
                            
                            Example (If electricy cost 0.16$ per KWh):<br> <br>
                            
                               $ 100 ( mined in 1 month )<br>
                             - $ 21 ( electrecitiy costs )<br>
                            = $ 80<br> <br>
                            
                            To caculate your electricitys costs click HERE <br> <br>
                           
                        </p>
                      </div>

                    </div>
                    <!--end  -->
            </div>
            <div class="col-md-6">
              
                <!-- question1start -->
                  <div class="col-md-1 " style="clear:both;float:left;">
                    <img  id="left4" (click)="ShowButton(4);" src="../assets/img/new/animation1.png" alt="">
                  </div>
                  <div  class="col-md-10 floatpadding" >
                    <div><p (click)="ShowButton(4);">Can I withdraw my balance at any time?</p></div>
                  <div [hidden]="!showSelected[4]">
                    <p>
                        Yes.<br>
                        There might be a case where we are out of stock
                        but we will refil the rewards asap. <br> <br>

                        Avarage Mineletems user makes 70$ a month and mostly uses the balance
                        for In-Game items and Steam games.
                    </p>
                  </div>

                </div>
                <!--end  -->
                <!-- question2start -->
                <div class="col-md-1 " style="clear:both;float:left;">
                    <img  id="left5" (click)="ShowButton(5);" src="../assets/img/new/animation1.png" alt="">
                  </div>
                  <div  class="col-md-10 floatpadding" >
                    <div><p (click)="ShowButton(5);">Are there any Withdraw limits? </p></div>
                  <div [hidden]="!showSelected[5]">
                    <p>
                        In-Game items have no limits<br> <br>
                        .
                        Paypal has a minumum amount of 10$<br> <br>
                        
                        Amazon Giftcards has a minimum amount of 20$<br> <br>
                        
                        Steam gift cards has a minimum of 5$<br> <br>
                        
                        Crypto Currencys (Bitcoin, Ethereum, Litcoin)<br>
                        have a minimum of 10$<br>
                        (Fees are covered by user)<br>

                    </p>
                  </div>

                </div>
                <!--end  -->
                <!-- question3start -->
                <div class="col-md-1 " style="clear:both;float:left;">
                    <img  id="left6" (click)="ShowButton(6);" src="../assets/img/new/animation1.png" alt="">
                  </div>
                  <div  class="col-md-10 floatpadding" >
                    <div><p (click)="ShowButton(6);">How much do you charge for this service?</p></div>
                  <div [hidden]="!showSelected[6]">
                    <p>
                        We have a 5% fee<br> 
                        
                      
                    </p>
                  </div>

                </div>
                <!--end  -->
                 <!-- question4start -->
                 <div class="col-md-1 " style="clear:both;float:left;">
                    <img  id="left7" (click)="ShowButton(7);" src="../assets/img/new/animation1.png" alt="">
                  </div>
                  <div  class="col-md-10 floatpadding" >
                    <div><p (click)="ShowButton(7);">Is Mineltems safe to use?</p></div>
                  <div [hidden]="!showSelected[7]">
                    <p>                     
                        
                        We only use your GPU/CPU power to Mine and get
                        you some Balance.
                        <br> <br>
                        
                        We cannot acess any of your personal data or information.<br> <br>
                        
                      
                    </p>
                  </div>

                </div>
                <!--end  -->
        </div>
        </div>

      </div>
    </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="skills" class=" wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h4  class="letter1">SUPPORT</h4>
            <h4 class="letter2">Please fil out the Box below or use our Live Support chat</h4>
        </div>

        <div class="row">

          <div class="form col-md-6 margin0auto">
            <div id="sendmessage"></div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm" >
              <div class="form-row">
                <label class="font1center">EMAIL:</label>
                <div class="form-group col-md-12">
                  <input type="email" class=" input1" name="email" id="email" style="width:100%;"  data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>

              </div>
              <div class="form-row" style="    margin-bottom: 5em;">
                <label class="font1center">SUBJECT:</label>
                <div class=" col-md-12">
                  <!-- <select id="select" >
                    <option style="display:none;"></option>
                    <option   >Support</option>
                    <option >Feedback</option>
                    <option  >Marketing</option>
                  </select> -->
                    <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" >
                    </button>
                    <ul class="dropdown-menu">
                      <li id="li1" class="myli" (click)="aaa(1);">SUPPORT</li>
                      <li id="li2" class="myli" (click)="aaa(2);">FEEDBACK</li>
                      <li id="li3" class="myli" (click)="aaa(3);">MARKETING</li>
                    </ul>
                  </div>
                  

                  
                  <div class="validation"></div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="font1center">DESCRIPTION:</label>
                <textarea  class=" textarea1" name="description" id="description"  data-rule="minlen:4" data-msg="Please enter at least 8 chars of description"></textarea> 
                <div class="validation"></div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </section>



  <section id="contactUs1">
    <div  class="margin0auto">
     <img src="../assets/img/new/contact_bg1.png">
   </div> 
  </section>

  <section id="lastsection">
    <div class="footer-top padding4">
      <div class="margin080">
        <div class="row" >

          <div class="col-lg-3 col-md-6 " >
             <h4 class="font1center">© Mine Items, Inc. 2018 - 2019</h4>
             <h4 class="font1center">MineItems.com is not affiliated  with Valve Corporation.</h4>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="    padding-left: 4em;">
            <a href="https://google.com" ><h4  style="font-size:0.9em;">About</h4></a>
            <a href="https://google.com" ><h4  style="font-size:0.9em;">Terms of Service</h4></a>
           
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
           <a href="https://google.com" ><h4 class="font1padding">By the creator of TRADE <span style="color: #ffc900;">SKINS</span>  FAST</h4></a>
           <img src="../assets/img/new/lastIcon.png" style="        padding-top: 7px;">
          </div>

         
          <div class="col-lg-3 col-md-6 footer-newsletter">
            <div class="social-links">
              <a href="https://google.com" class="steam"><img src="../assets/img/new/social_steam.png" class="icon1"></a>
              <a href="https://google.com" class="facebook"><img src="../assets/img/new/social_face.png" class="icon2"></a>
              <a href="https://google.com" class="twitter"><img src="../assets/img/new/social_twitter.png"  class="icon1"></a>
              <a href="https://google.com" class="sky"><img src="../assets/img/new/social_sky.png" class="icon3"></a>
       
            </div>

          </div>

        </div>
      </div>
    </div>

   
  </section>

  <!--==========================
    Footer
  ============================-->
  <section id="footerPart">
    <div >
      <div class="container">
        <div class="row height25">



        </div>
      </div>
    </div>

  
 </section>

  <a href="#" class="back-to-top" style="background:#5c92b8;"><i class="fa fa-chevron-up"></i></a>

